{% extends "basic.html" %}
{% load static %}
{% block body %}
<style>
    .row {
        padding: 10px;
        background-color: rgb(27, 27, 27, 0.5);
        border-radius: 10px;

    }

    .navbar {
        position: sticky;
    }

    .switch-field {

        margin-bottom: 36px;
        overflow: hidden;

    }

    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .switch-field label {
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 8px 16px;
        margin-right: -1px;
        border-bottom: 4px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        color: white;
    }


    .switch-field label:hover {
        cursor: pointer;
    }

    .switch-field input:checked+label {
        border-color: black;
        box-shadow: none;
    }

    #indore {
        display: none;
    }

    .icon-size {
        width: 20px;
    }
    .contact1{
        display: inline;
    }

    /* 
    .switch-field input[value="2"]:checked ~ .col-md-6 #indore {
        display: none;
    }*/
</style>
<div class="container">
    <br>
    <div class="row ">
        <div class="col-md-6">
            <div class="switch-field text-center ">
                <input type="radio" id="radio-one" name="switch-one" value="1" checked />
                <label for="radio-one">Hyderabad Office</label>
                <input type="radio" id="radio-two" name="switch-one" value="2" />
                <label for="radio-two">Indore Office</label>
            </div>
            <div>
                <!-- <span><i class="far fa-envelope fa-2x" style="color: white;"></i></span>   <p style="padding-bottom:5px">info@veloxtech.in</p> -->
                <ul class="contact1">
                    <li><img src="{%static '/images/icons/email.png'%}" class="icon-size" alt=""></li>
                    <li>
                        <p>&nbsp; info@veloxtech.in</p>
                    </li>
                </ul>
                <ul class="contact1">
                    <li><img src="{%static '/images/icons/address.png'%}" class="icon-size" alt=""></li>
                    <li>
                        <address>2nd Floor, Adviti Nivas PLOT - 26, near RTO Office,
                            Chandragiri
                            Colony, Trimulgherry, Secunderabad, Telangana 500015</address>
                    </li>
                </ul>
                <div class="row">
                    <col-md-3><img src="{%static '/images/icons/email.png'%}" class="icon-size" alt=""></col-sm-6>
                        <col-md-9>
                            <p>&nbsp; info@veloxtech.in</p>
                            </col-sm-6>
                </div>
                <div class="row">
                    <col-md-6><img src="{%static '/images/icons/address.png'%}" class="icon-size" alt=""></col-sm-6>
                        <col-md-6>
                            <address>2nd Floor, Adviti Nivas PLOT - 26, near RTO Office,
                                Chandragiri
                                Colony, Trimulgherry, Secunderabad, Telangana 500015</address>
                            </col-sm-6>
                </div>
                <div class="row">
                    <col-sm-6><img src="{%static '/images/icons/phone-call.png'%}" class="icon-size" alt=""></col-sm-6>
                    <col-sm-6>
                        <p>&nbsp; info@veloxtech.in</p>
                    </col-sm-6>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="indore" class="card" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.457185280489!2d75.89182471496274!3d22.74840858509263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fde29067a05b%3A0x8becd85ff0793cad!2sTech%20Driven%20Basic%20(TDB.AI)!5e0!3m2!1sen!2sin!4v1611639635852!5m2!1sen!2sin"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div id="hyderabad" class="card" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3805.861083484804!2d78.5053892!3d17.4663618!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb997deea44453%3A0x711962286c3e4ce8!2sVeloxtech%20Solutions!5e0!3m2!1sen!2sin!4v1611638625149!5m2!1sen!2sin"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="show"></div>
</div>

<script>
    $(document).ready(function () {
        $('input[name=switch-one]').on('change', function () {
            var n = $(this).val();
            switch (n) {
                case '1':
                    $('#indore').hide();
                    $('#hyderabad').show();
                    break;
                case '2':
                    $('#hyderabad').hide();
                    $('#indore').show();
                    break;
            }
        });
    });
    /*  $('input[value=1]').click(function () {
          $('#hyderabad').hide();
          $('#indore' + $(this).val()).show();
      });*/
</script>
{% endblock body %}