{% extends "basic.html" %}
{% load static %}
{% block body %}
<style>
    .navbar{
        position: sticky;
    }
    .bg-dark{
        background-color: #212529dc !important;
    }
</style>
<section class="container " style="min-height:90vh;">
<br>
    <div class="content text-white mx-auto" style="width:30rem">
        <div class="card bg-dark"><br>
            <div class="card-title text-center"><img src="{%static '/images/logo.png'%}" width="40%" alt=""></div>
            <div class="card-body" >
                <form method="post" action="/formsubmit" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="form-row text-left">
                        <div class="form-group col-md-6">
                            <label for="inputEmail1">Name:</label>
                            <input type="text" class="form-control" name="first_name" id="inputEmail1"
                                pattern="[A-Za-z]{3,32}" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword2">Last Name:</label>
                            <input type="text" class="form-control" name="last_name" id="inputPassword2"
                                pattern="[A-Za-z]{3,32}" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-row text-left">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email:</label>
                            <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Phone no.</label>
                            <input type="text" class="form-control" name="phone" id="inputPassword4"
                                pattern="[6789][0-9]{9}" placeholder="Phone no">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group ">
                            <label for="exampleFormControlFile1">Upload Resume</label>
                            <input type="file" class="form-control-file " name="resume" id="exampleFormControlFile1"
                                required>
                        </div>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </form>
                <img src="{%static '/images/form.jpg'%}" width="100%" alt="">
            </div>
        </div>

    </div>

</section>
{% endblock body %}