{% extends "basic.html" %}
{% load static %}
{% block body %}
<style>
    .navbar {
        position: sticky;
    }

    .border-head {
        border-bottom: 1px solid rgb(194, 31, 31);
    }

    .row {
        margin: 0px;
    }
    li::marker{
        color: rgb(194, 31, 31);
    }
</style>
<div class="container">
    <div class="row" id="staff-augumentation">
        <div class="col-md-6">
            <img src="{%static '/images/staff.gif'%}" style="width: 100%;" alt="">
        </div>
        <div class="col-md-6"><br>
            <h3 class="text-center" style="text-transform:uppercase;word-spacing: 4px; ">The right job at the right
                place
                with the right fit is humanly
                possible.</h3><br>
            <h4><span class="border-head">What is the Staff Augumentation</span></h4>
            <p class="text-muted">Staff Augmentation, or better known as subcontracting, is
                primarily outsourcing of manpower on a skill requirement basis or
                project completion basis for a limited period of time. Staffing
                may be desired when there is a dynamic requirement of people, or
                there is a requirement of skilled staff, or the requirement is for
                a limited period.</p><br>
            <h4><span class="border-head">Why Staff Augumentation</span></h4>
            <p class="text-muted">Temporary staffing is an area where employers can make efficient
                large scale strategic savings on staffing requirements, keep a
                flexible effective workforce to hand and maintain staff through
                difficult times. The temporary staffing agencies will place
                temporary staff according to contracts available. This means
                employers will not have to outlay costs such as holiday pay,
                sickness benefits or other fringe benefits of permanent employment
                - except where official government regulations stipulate,
                temporary staff receives the same benefits.</p>
            <p class="text-muted">These savings on temporary staffing - including Statutory
                Benefit schemes and insurances and perks, can be large when a
                percentage of the labour force is temporary. Buying in the right
                skills for the right projects seems like a good idea so far.</p>
        </div><br>
    </div><br>
    <h4><span class="border-head">Staying lean during these time also makes sense</span></h4><br>
    <p class="text-muted">
        Time is Key: Easy and fast mobilization of skilled and Niche
        Resources</p>
    <p class="text-muted">Increase Flexibility: Flexibility in ramping up and
        down of resources, staff levels can be managed to be at productive
        levels throughout the year</p>
    <p class="text-muted">Reduce Cost: Savings on HR,
        Administration Cost, Staff costs such as healthcare, insurance,
        taxes and benefits
    </p>
    <p class="text-muted">
        Recruitment Made Easy: All the advertising, screening,
        interviewing and reference checking needed to attract and qualify
        potential employees is not required. This practice benefits by
        making one call and having staff sent that is ready to work and
        achieve the balance: quality goals with budgetary realities.</p>
    <p class="text-muted">Reduce
        Training Cost: As they are pre-screened for the necessary skills,
        limited training is needed before the new employee becomes
        productive.</p>
    <p class="text-muted">No Payroll Processing: No need to process payroll
        for the temporary staff or generate year-end tax documents.
    </p>
    <br>
    <h4 class="text-center">ANALYTICS <span class="span-heading ">CONSULTING</span></h4><br>
    <div class="row" id="analytics">
        <div class="col-md-6">
            <h5 style="font-weight: 500;"><span class="border-head">Services</span> </h5>
            <p class="text-muted">
                Do your marketing campaigns yield the desired results/ROI?</p>
                <p class="text-muted">
                    We are experienced in accurately measuring your marketing
                    campaigns from a macro level perspective down to the finest
                    detail of an activity in the campaign. We measure the
                    effectiveness of campaigns through different channels such as
                    Email, SMS, Outbound calling and also provide insights for better
                    conversion. Our team helps in designing campaign by building
                    advanced propensity models to identify the best customer segments
                    to target. Our predictive churn models helps to identify
                    customers who are most likely to attrite. Using advanced
                    statistical models, campaigns are designed for customer
                    acquisition &amp; customer retention. We analyze short term and long
                    term impact of marketing campaigns and our deep dive analyses
                    makes it easy for our clients to discontinue non performing
                    campaigns there by reducing the cost.
                </p>
                
                <h5 style="font-weight: 500;"><span class="border-head">Forecasting</span> </h5>
                <p class="text-muted">
                    We are specialized into the domain of Forecasting- Linear,
							Non-Linear, and ensemble including complex forecasting algorithms
							for time series data. We help our clients for their forecasting
							needs. We offer Sales forecast, volume forecast, call volume
							forecast, demand forecast.
                </p>
        </div>
        <div class="col-md-6">
            <img src="{%static '/images/analytics.gif'%}" style="border-radius: 10px; width:100%" alt="">
        </div>
    </div>
    <br>
    <h4 class="text-center">MANAGED <span class="span-heading ">IT SERVICES</span></h4><br>
    <div class="row">
        <div class="col-md-6 my-auto">
            <img src="{%static '/images/managed.gif'%}" style="width: 100%; border-radius: 10px;" alt="">
        </div>
        <div class="col-md-6">
            <h5 style="font-weight: 500;"><span class="border-head">Services</span> </h5>
            <p class="text-muted">
                Managed Services is the practice of utilizing a service provider to handle the maintenance, management and monitoring of a company’s Information Technology infrastructure as a strategic method for improving operations and reducing costs.A VeloxTech Solutions offer small and medium- sized businesses peace of mind by providing the broad technical competency, processes, and controls required to ensure system stability and maximum efficiency.

            </p>
            <h4>VELOXTEXH SOLUTIONS <span class="span-heading ">ADVANTAGES</span></h4><br>
            <ul>
                <li>Maximize technology investments</li>
                <li>Avoid common IT pitfalls</li>
                <li>Benefit from wide-ranging technical competencies</li>
                <li>Reduce company downtime with the following services</li>
                <li>Proactive systems monitoring with real-time alerts</li>
                <li>Protection from viruses and data theft</li>
                <li>Business continuity and disaster recovery hosting</li>
                <li>IT project management and implementation</li>
                <li>Routine software and hardware maintenance</li>
                <li>Control IT costs and improve total cost of ownership</li>
                <li>Predictable monthly costs</li>
                <li>Transparency and visibility through frequent status reports</li>
            </ul>
        </div>
    </div>
</div>

{% endblock body %}