{% extends "basic.html" %}
{% load static %}
{% block body %}
<style>
    .navbar {
        position: sticky;
    }

    .border-head {
        border-bottom: 1px solid rgb(194, 31, 31);
    }

    .row {
        margin: 0px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{%static '/images/staff.gif'%}" style="width: 100%;" alt="">
        </div>
        <div class="col-md-6"><br>
            <h3 class="text-center" style="text-transform:uppercase;word-spacing: 4px; ">The right job at the right
                place
                with the right fit is humanly
                possible.</h3><br>
            <h4><span class="border-head">What is the Staff Augumentation</span></h4>
            <p class="text-muted">Staff Augmentation, or better known as subcontracting, is
                primarily outsourcing of manpower on a skill requirement basis or
                project completion basis for a limited period of time. Staffing
                may be desired when there is a dynamic requirement of people, or
                there is a requirement of skilled staff, or the requirement is for
                a limited period.</p><br>
            <h4><span class="border-head">Why Staff Augumentation</span></h4>
            <p class="text-muted">Temporary staffing is an area where employers can make efficient
                large scale strategic savings on staffing requirements, keep a
                flexible effective workforce to hand and maintain staff through
                difficult times. The temporary staffing agencies will place
                temporary staff according to contracts available. This means
                employers will not have to outlay costs such as holiday pay,
                sickness benefits or other fringe benefits of permanent employment
                - except where official government regulations stipulate,
                temporary staff receives the same benefits.</p>
            <p class="text-muted">These savings on temporary staffing - including Statutory
                Benefit schemes and insurances and perks, can be large when a
                percentage of the labour force is temporary. Buying in the right
                skills for the right projects seems like a good idea so far.</p>
        </div><br>
        <h4><span class="border-head">Staying lean during these time also makes sense</span></h4><br>
        <p class="text-muted">
            Time is Key: Easy and fast mobilization of skilled and Niche
            Resources</p>
        <p class="text-muted">Increase Flexibility: Flexibility in ramping up and
            down of resources, staff levels can be managed to be at productive
            levels throughout the year</p>
        <p class="text-muted">Reduce Cost: Savings on HR,
            Administration Cost, Staff costs such as healthcare, insurance,
            taxes and benefits
        </p>
        <p class="text-muted"></p>
    </div>
</div>

{% endblock body %}