{% extends "basic.html" %}
{% load static %}
{% block body %}
<style>
    .row {
        margin: 0px;
    }
     .navbar {
        position: sticky;
    }
    .border-head{
        border-bottom: 1px solid ;
    }

</style>
<div class="container">
<br>
    <h4 class="text-center">CORE-<span class="span-heading " >IT-SOLUTIONS</span></h4><br>
    <div class="row">
        <div class="col-md-6">
            <h5 class="border-head" style="font-weight: 500;"><span>Networking Solutions</span> </h5>
            <p class="font-size text-muted">
                Is your network secure and performing up to its potential? VeloxTech Solutions
						can help your business make sure that your network systems are
						protected and running optimally. Whether you have a small office
						with 5 employees, or you have a complex network with many
						locations, VeloxTech Solutions has the experienced engineering staff to guide you
						to the best solutions. Just some of the areas where we can assist
						with product selection, configuration and deployment are:
            </p>
        </div>
        <div class="col-md-6">
            <img src="{%static '/images/solution.gif'%}" style="width:25rem" alt="">
        </div>
    </div>
    
</div>
{% endblock body %}