{% extends "basic.html" %}
{% load static %}
{% block body %}
<style>
    .row {
        margin: 0px;
    }
     .navbar {
        position: sticky;
    }

</style>
<div class="container">

    <h4><span class="span-heading text-center" >CORE-IT-SOLUTIONS</span></h4>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <img src="{%static '/images/solution.gif'%}" style="width:30rem" alt="">
        </div>
    </div>
    
</div>
{% endblock body %}